<!DOCTYPE html>
<html>
<head>
    <title>Pi Game</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Welcome to Pi Testing</h1>
        <p>Test your knowledge of the digits of Pi!</p>
        <a href="/pi-test" class="btn btn-primary">Take the Pi Test</a>
        <a href="/pi-practice" class="btn btn-primary">Practice Pi</a>
        <a href="/learn-pi" class="btn btn-primary">Learn Pi</a>
    </div>
    <!-- Add Bootstrap JS (Optional) -->
    <!-- You might need it for certain Bootstrap components -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>
