<!DOCTYPE html>
<html>
<head>
    <title>Learn Pi</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>1000 Digits of Pi</h1>
        {{ pi_formatted }}
    </div>
    <div class="container mt-5">
        <a href="/" class="btn btn-secondary mt-3">Back to Homepage</a>
    </div>
    <!-- Add Bootstrap JS (Optional) -->
    <!-- You might need it for certain Bootstrap components -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>
</html>